
body{
    font-family: "Poppins", sans-serif;
}
.site-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    .logo{
        img{
         width: 80px;
        }
    }
    .menu-wrapper{
        display: flex;
        gap: 70px;
        .menu{
            ul{
                display: flex;
                list-style: none;
                gap: 48px;
                li{
                    position: relative;
                    transition: all .4s;
                    &.active {
                        a{
                            color: #1090CB;
                        }
                    }
                    &:hover::before,
                    &.active::before{
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #08D3BB;
                        display: block;
                        position: absolute;
                        right: 100%;
                        bottom: 100%;
                    }
                }
                a{
                    text-decoration: none;
                    color: #000;
                    &:hover{
                        color: #1090CB;
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
    .login-btn{
        background-color: #1090CB;
        padding: 15px 49px;
        border: 1px solid #1090CB;
        border-radius: 6px;
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
            background-color:#FFFFFF;
            transition: all 0.4s ease;
            color: #000;
        }
    }
}
.header-section{
    background-color: rgb(216, 238, 248);
    .container{
        width: 1470px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        .left-content{
            h2{
               color: #000; 
               font-size: 40px;
            }
            p{
                color: #5C5C5C;
                font-size: 16px;
            }
            .button{
                display: flex;
                gap: 20px;
                .btn-1{
                    .login-btn{
                        background-color: #1090CB;
                        padding: 15px 49px;
                        border: 1px solid #1090CB;
                        border-radius: 6px;
                        color: #FFFFFF;
                        font-size: 16px;
                        &:hover{
                           background-color:#FFFFFF;
                           transition: all 0.4s ease;
                           color: #000;
                           font-size: 16px;
                        }
                    }
                }
                .btn-2{
                    .login-btn{
                        background-color: #fff;
                        padding: 15px 49px;
                        border: 1px solid #1090CB;
                        border-radius: 6px;
                        color: #000;
                        font-size: 16px;
                        &:hover{
                           background-color:#1090CB;
                           transition: all 0.4s ease;
                           color: #fff;
                           font-size: 16px;
                        }
                    }
                }
            }
        }
        .right-content{
            .image{
                position: relative;
                .img-1{
                    position: absolute;
                    top: 300px;
                    right: 317px;
                }
                .img-2{
                    position: absolute;
                    top: 200px;
                    left: 315px;
                }
                .img-3{
                    position: absolute;
                    top: 529px;
                    left: 338px;
                }
            }
        }
    }
}
.d-block{
    display: block;
}
.primary-color{
    color: #1090CB;
}
.head-section{
    padding: 40px 0;
    .head{
        text-align: center;
        h2{
           color: #252525; 
           font-size: 33px;
        }
        p{
            color: #868686;
            font-size: 18px;
            span{
                display: block;
            }
        }
    }
}
.hero-section{
    .container{
        width: 1590px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        .left-content{
                h2{
                  color: #252525; 
                  font-size: 40px;
                }
                p{
                    color: #868686;
                    font-size: 16px;
                }
        }
    }
}
.web-section{
    .container{
        width: 1590px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        .left-content{
                h2{
                  color: #252525; 
                  font-size: 40px;
                }
                p{
                    color: #868686;
                    font-size: 16px;
                }
        }
    }
}
.focus-section{
    .container{
        width: 1590px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        .left-content{
                h2{
                  color: #252525; 
                  font-size: 40px;
                }
                p{
                    color: #868686;
                    font-size: 16px;
                }
        }
    }
}
.box-section{
    .container{
        width: 1590px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;
        .left-content{
            .box-1{
                background-color: #F4F4F4;
                width: 575px;
                height: 360px;
                text-align: center;
                padding: 40px 0;
                .login-btn{
                    background-color: #1090CB;
                    padding: 15px 49px;
                    border: 1px solid #1090CB;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 16px;
                    &:hover{
                        background-color:#FFFFFF;
                        transition: all 0.4s ease;
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
        }
        .right-content{
            .box-2{
                background-color: #1090CB;
                width: 575px;
                height: 300px;
                text-align: center;
                padding: 40px 0;
                .login-btn{
                    background-color: #fff;
                    padding: 15px 49px;
                    border: 1px solid #fff;
                    border-radius: 6px;
                    color: #1090CB;
                    font-size: 16px;
                    &:hover{
                        background-color:#1090CB;
                        transition: all 0.4s ease;
                        color: #fff;
                        font-size: 16px;
                    }
                }
                h2{
                    color: #fff;
                    font-size: 25px;
                }
                p{
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}
.image-section{
    .container{
        width: 1090px;
        max-width: 100%;
        margin: 0 auto;
        padding: 100px 70px;
        .h3{
            text-align: center;
            color: #000000;
            font-size: 30px;
        }
        .img{
            display: flex;
            gap: 125px;
        }
    }
}
.btn-section{
    .container{
        background-color: #E8F4FA;
        width: 1470px;
        max-width: 100%;
        margin: 0 auto;
        padding: 100px 70px;
        .h-2{
            position: relative;
            .img-1{
                position: absolute;
                top: -166px;
            }
            .img-2{
                position: absolute;
                top: -70px;
                left: 1000px;
            }
            h2{
                text-align: center;
                font-size: 30px;
            }
        }
        .button{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0 500px;
            .input{
                background-color: #fff;
                padding: 15px 38px;
                border: 1px solid #fff;
                border-radius: 6px;
                color: #868686;
            }
            .btn{
                .login-btn{
                    background-color: #000;
                    padding: 15px 38px;
                    border: 1px solid #000;
                    border-radius: 6px;
                    color: #fff;
                    &:hover{
                        background-color:#1090CB;
                        transition: all 0.4s ease;
                        color: #fff;
                    }
                }
            }

        }
    }
}
.footer{
    padding: 60px 0;
    .footer-top{
        .container{
            max-width: 1240px;
            padding: 0 20px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            h3{
                color: #000;
            }
            & > div{
                width: 24%;
                gap: 48px;
            }
            .footer-widgets{
                color: #515151;
                font-size: 16px;
            }
            .widgets-content{
                .widgets-content{
                    display: flex;
                    flex-direction: column;
                    a{
                        text-decoration: none;
                        color: #515151;
                        font-size: 16px;
                    }
                }
            }
            .footer-widgets{
                .social-icon{
                    display: flex;
                    align-items: end;
                    padding-top: 25px;
                }
            }
        }
        
    }
    .footer-bottom{
        display: flex;
        justify-content: center;
        padding: 25px 20px;
        small{
            font-size: 13px;
            color: rgba(104, 104, 104, 1);
        }
    }
    hr{
        color: rgba(210, 210, 210, 1);
        border: 1px solid;
    }
}
.hero-section1{
    .container{
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        padding: 102px;
        display: flex;
        justify-content: space-between;
        .left-content{
            .image-content{
                display: flex;
                gap: 50px;
                .img{
                    padding: 80px 0;
                }
            }
        }
        .right-content{
            .about{
                font-size: 18px;
                color: #1090CB;
                &:hover{
                    color: #000;
                    transition: all 0.4s ease;
                }
            }
            h2{
                color: #252525;
                font-size: 40px;
            }
        }
        p{
            color: #868686;
            font-size: 18px;
        }
    }
}
.image-section1{
    .container{
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 60px;
        .image{
            padding: 0 70px;
        }
    }
}
.passage-section{
    .container{
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        .heading{ 
            padding: 0 70px;
            h2{
                font-size: 45px;
                font-size: 45px;
            }
            p{
                font-size: 20px;
                font-size: 18px;
            }
        }
    }
}
.web-section1{
    .container{
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left-content{
            padding: 0 70px;
            h2{
                color: #000;
                font-size: 30px;
            }
            p{
                color: #868686;
                font-size: 20px;
            }
            .login-btn{
                background-color: #fff;
                padding: 15px 49px;
                border: 1px solid #1090CB;
                border-radius: 6px;
                color: #1090CB;
                &:hover{
                    background-color:#1090CB;
                    transition: all 0.4s ease;
                    color: #000;
                }
            }
        }
        .right-content{
            background-color: #F1E8FF;
            width: 466px;
            height: 230px;
            .info-list{
                columns: 2;
                display: block;
                list-style: none;
                li{
                    margin-bottom: 50px;
                    a{
                      display: flex;
                      align-items: center;
                      gap: 12px;
                      text-decoration: none;
                    }
                }
            }
        }
    }
}
.icon-section{
    .container{
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        .team{
            padding: 60px 58px;
        }
        .picture{
            display: flex;
            justify-content: space-between;
            gap: 60px;
            padding: 60px 70px;
            .project-1{
                .ceo{
                    padding: 20px 0;
                }
            }
            .project-2{
                .coo{
                    padding: 20px 0;
                }
            }
            .project-3{
                .teach{
                    padding: 20px 0;
                }
            }
            .project-4{
                .head{
                    padding: 20px 0;
                }
            }
        }
    }
}
.header-section1{
    background-color: #E8F4FA;
    .container{
        max-width: 1420px;
        padding: 0 20px;
        margin: 0 auto;
        padding: 40px 0;
        .content{
            text-align: center;
            .icon{
                h2{
                    font-size: 40px;
                }
                p{
                    color: #696969;
                    font-size: 18px;
                }
            }
        }
    }
}
.product-section{
    .container{
        max-width: 1420px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left-content{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 16px;
                color: #545454;
            }
            .login-btn{
                    background-color: #fff;
                    padding: 15px 38px;
                    border: 1px solid #1090CB;
                    border-radius: 6px;
                    color: #1090CB;
                    &:hover{
                        background-color:#1090CB;
                        transition: all 0.4s ease;
                        color: #fff;
                    }
                }
        }
    }
}
.number-section{
    background-color: #1090CB;
    width: 1440px;
    height: 320px;
    border: 1px solid #1090CB;
    .container{
        max-width: 1440px;
        padding: 118px 140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .number-1{
           .num-1{
            font-size: 64px;
            color: #fff;
           }
           p{
            font-size: 16px;
            color: #fff;
           }
        }
        .number-2{
            .num-2{
            font-size: 64px;
            color: #fff;
           }
           p{
            font-size: 16px;
            color: #fff;
           }
        }
        .number-3{
            .num-3{
            font-size: 64px;
            color: #fff;
           }
           p{
            font-size: 16px;
            color: #fff;
           }
        }
        .number-4{
            .num-4{
            font-size: 64px;
            color: #fff;
           }
           p{
            font-size: 16px;
            color: #fff;
           }
        }
    }
}
.power-section{
   .container{
        max-width: 1420px;
        margin: 0 auto;
        .picture{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            .project-1{
                h4{
                    font-size: 23px;
                }
                p{
                    color: #424242;
                    font-size: 16px;
                }
            }
            .project-2{
                h4{
                    font-size: 23px;
                }
                p{
                    color: #424242;
                    font-size: 16px;
                }
            }
            .project-3{
                h4{
                    font-size: 23px;
                }
                p{
                    color: #424242;
                    font-size: 16px;
                }
            }
            .project-4{
                h4{
                    font-size: 23px;
                }
                p{
                    color: #424242;
                    font-size: 16px;
                }
            }
        }
    } 
}
.map-section{
    .container{
        max-width: 1220px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .left-content{
            h2{
                color: #000;
                font-size: 45px;
            }
            p{
                color: #777777;
                font-size: 20px;
                span{
                    display: block;
                }
            }
        }
        .right-content{
            .img{
                width: 620px;
            }
        }
    }
}
.gps-section{
    .container{
        max-width: 1220px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .icon{
            .image{
                display: flex;
                gap: 20px;
            }
        }
        .gpsa{
                p{
                    span{
                        display: block;
                    }
                }
            }
    }
}